<!doctype html>
<html class="no-js" lang="">

<include file="public/head"/>
<style type="text/css">
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        text-align: center;
        border-top: 1px solid #ddd
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #428bca;
        border-color: #428bca
    }
</style>


<div class="app" data-sidebar="locked">

    <include file="public/top"/>

    <section class="layout">

        <include file="public/nav"/>


        <section class="main-content">

            <div class="content-wrap">
                <div class="row mg-b">
                    <div class="col-xs-6">
                        <h3 class="no-margin"></h3>
                        <h6><a href="__MODULE__" class="fa fa-home">首页</a>/<a href="">用户管理</a>/<a
                                href="__CONTROLLER__">用户列表</a></h6>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a href="__MODULE__/javascript:;" class="fa fa-th-list pull-right pd-sm toggle-sidebar"
                           data-toggle="off-canvas" data-move="rtl">

                        </a>
                    </div>
                </div>
                <div class="row mg-b">
                    <div class="col-xs-6">
                        <a href="__MODULE__/user/add">
                            <button type="button" class="btn btn-success">添加新用户</button>

                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                            <header class="panel-heading">用户列表</header>

                            <div class="panel-body no-padding">
                                <table class="table table-hover no-margin">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1">用户id</th>
                                        <th class="col-md-1">用户账号</th>
                                        <th class="col-md-1">昵称</th>
                                        <th class="col-md-1">头像</th>
                                        <th class="col-md-1">性别</th>
                                        <th class="col-md-1">权限</th>
                                        <th class="col-md-1">创建时间</th>
                                        <th class="col-md-1">上次登录时间</th>
                                        <th class="col-md-1">上次登录ip</th>
                                        <th class="col-md-1">状态</th>
                                        <th class="col-md-2">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="vo">
                                        <tr>
                                            <td>{$vo.user_id}</td>
                                            <td>{$vo.user}</td>
                                            <td>{$vo.username}</td>
                                            <td><img
                                                    class="avatar avatar-md img-circle"
                                                    src="{$vo.img}"
                                                    alt="{$vo.username}" style="width:100px;height:100px">
                                            </td>
                                            <td>
                                                <eq name="vo.sex" value="0">
                                                    男
                                                    <else/>
                                                    女
                                                </eq>
                                            </td>
                                            <td>{$vo.name}</td>
                                            <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>

                                            <td>{$vo.last_login_time|date="Y-m-d H:i:s",###}</td>
                                            <td>{$vo.last_login_ip}</td>

                                            <td>
                                                <eq name="vo.status" value="1">
                                                    正常
                                                    <else/>
                                                    禁止
                                                </eq>

                                            </td>
                                            <td>
                                                <a href="{:U('user/edit',array('user_id'=>$vo['user_id']))}"
                                                   class="btn btn-primary">编辑</a>
                                                <a onClick="return confirm('是否删除此条记录')"
                                                   href="{:U('user/del',array('user_id'=>$vo['user_id'],'page'=>$_GET['p']))}"
                                                   class="btn btn-danger">删除</a>
                                            </td>
                                        </tr>


                                    </volist>


                                    </tbody>
                                </table>


                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <div class="pages " style=" text-align: right;">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
            <include file="public/bottom"/>
        </section>

    </section>


</div>

</body>

</html>